  /* ---ELEMENT SELECTORS--- */
 
 html {
   font-family: Calibri, 'Trebuchet MS', sans-serif;
   background: linear-gradient(180deg, #84daf5, #89ffff, #affffa, #ffffff);
 }

 /* STEP 1 */
 body {
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: 5rem;
   margin-right: 5rem;
 }
 
 /* STEP 2 */
 h1 {
   text-align: center;
   filter: drop-shadow(2px 2px 1px #0f6a9e);
 }

 h2 {
   margin: 4rem auto 1rem auto;
   text-align: center;
 }

 /* STEP 3 */
 p, li {
   font-size: 20px;
 }
 ol {
   padding: 20px;
 }
 
 ol li {
   padding: 10px 0;
 }

 /* STEP 4 */
 img {
   margin: 1rem;
   border-radius: 1rem;
   box-shadow: 2px 2px 2px 1px rgba(0,0,0, .5);
 }
/* confused about solution: used 5px 5px and 4px */

 /* STEP 5 */
 figcaption {
   text-align: center;
   font-weight: bold;
   color: rgb(0, 58, 66);
 }

 /* STEP 6 */
 footer {
   margin: 2rem 0 2rem 0;
   text-align: center;
 }
 
 /* ---CUSTOM CLASS NAME SELECTORS--- */
 
 /* PART 2, STEP 3 */
 .banner-div {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 #banner-long {
   max-width: 100%;
   height: auto;
 }

 /* PART 2, STEP 1 */
 #banner-short {
   width: 230px;
   display: none;
 }

 /* PART 2 STEP 4 */
 .img-div {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 }
 
 .tips-div {
   display: flex;
   flex-wrap: nowrap;
   justify-content: start;
 }

 /* PART 2 STEP 5 */
 .top-places-div {
   max-width: 800px;
   margin: 5rem auto;
   color: rgb(253, 197, 132);
   padding: 1rem 2rem;
   background-color: rgb(0,58,66);
   border-radius: 1rem;
 }
 .top-places-div h2 {
   text-align: center;
   margin: 1rem auto;
   font-weight: lighter;
 }
 
 /* ----- MEDIA QUERIES for RESPONSIVE DESIGN ----- */
 
 @media only screen and (max-width: 1500px) {
   .img-div img {
     width: 420px;
   }
 }
 
  /* PART 2 STEP 6 */
 @media only screen and (max-width: 1100px) {
   .tips-div {
      flex-wrap: wrap;
      justify-content: center;

   }
 }
 
 /* STEP 2 */
 @media only screen and (max-width: 500px) {
   body {
     margin: 1rem;
   }
   p, li {
     font-size: 16px;
   }
   .img-div img {
     width: 230px;
   }
   .tips-div img {
     width: 230px;
   }
   #banner-long {
      display: none;
   }
   #banner-short {
         display: block;
   }
 }